body {
    background-color: #26292E;
    font-family: 'droid_sans', sans-serif;
    width: 1200px;
    font-size: 16px;
    font-weight: 300;
    line-height: 28px;
}


.group:after {
  content: "";
  display: table;
  clear: both;
}

/* Document styling */

#wrapper {
   position: relative;

}

#title {
  font-size: 24px;
  font-weight: 100;
  color: white;
  margin-left: 20px;
}
#title div.large, #title span.large {
  font-size: 36px;
}

footer {
  color: #666;
  margin-left: 20px;
}


/* SVG styling */
svg {
   width: 820px;
   height: 820px;
   font-family: 'Titillium Web';
}

path, line {
   fill: #225D23;
   stroke: #eee;
   stroke-width: 0.5px;
   cursor: pointer;
}


#chart {
   position: relative;
   height: 480px;
   margin: 10px;
}

#menu {
   margin: 10px;
}

#menu div {
   background-color: #333;
   color: white;
   width: 150px;
   padding: 5px;
   margin: 20px 5px 20px 0;
   cursor: pointer;
   float: left;
   text-align: center;
}

#menu div:not(.selected):hover {
  background-color: #7F8289
}

#menu .selected, #chart .selected {
   background-color: #DE5E60;
}

div.node {
   position: absolute;
   background-color: #333333;

   text-align: center;
   color: white;
   cursor: pointer;


}

div.node:hover {
  background-color: #7F8289
}



div.node div.name {
   font-size: 14px;
   font-weight: 400;
   padding-top: 6px;
   line-height: 15px;

}

div.node div.value {
   font-size: 13px;
   font-weight: 400;
   padding-top: 20px;


}
