<div id="statbox" style="position: absolute; color: white; width: 400px; float:right; right: -20px">
    <ul>
        <li> Medical: {{Medical.Status}} </li>
        <li> Decriminalized: {{Decriminalized.Status}} </li>
        <li> Pseudo Status: {{Pseudo.Status}} </li>
        <li> Legalization: {{Legalized.Status}} </li>
    </ul>
</div>